.single-container
  .single-header
    %h1.single-header__logo
      = link_to do
        %img.mercari-logo{:alt => "mercari", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313"}/
    %img.progress__bar__status__done{:src => "https://i.gyazo.com/b6d36eebb53b7c58bd69c2a5e7e4bff2.png"}/
  %main.single-main
    .content-signin
      .content-signin__chapter1
        %h2.content-signin__chapter1__top 
          支払い方法
        %form.card-form
          .card-form__input
          .card-form__box
            .form-number
              %label.form-number__payment カード番号
              %span.form-number__require 必須
              %input.form-number__input{type:"text",placeholder:"半角数字のみ",maxlength:"19"}
              %ul.form-number__error-text
              %ul.form-number__card-list
                %li.form-number__card-list__visa
                  = image_tag"visa.png",class:"form-number__card-list__visa"
                %li.form-number__card-list__master
                  = image_tag"master.png",class:"form-number__card-list__master"
                %li.form-number__card-list__saison
                  = image_tag"seison.png",class:"form-number__card-list__saison"
                %li.form-number__card-list__jcb
                  = image_tag"jcb.png",class:"form-number__card-list__jcb"
                %li.form-number__card-list__american
                  = image_tag"american.png",class:"form-number__card-list__american"
                %li.form-number__card-list__dainers
                  = image_tag"diners.png",class:"form-number__card-list__dainers"
                %li.form-number__card-list__discover
                  = image_tag"discover.png",class:"form-number__card-list__discover"
            .form-signup
              %label.form-signup__expire カード番号
              %span.form-signup__require 必須
              %br
              .form-signup__month
                %select.form-signup__month__select
                  %option{value:"1"} 01
                  %option{value:"2"} 02
                  %option{value:"3"} 03
                  %option{value:"4"} 04
                  %option{value:"5"} 05
                  %option{value:"6"} 06
                  %option{value:"7"} 07
                  %option{value:"8"} 08
                  %option{value:"9"} 09
                  %option{value:"10"} 10
                  %option{value:"11"} 11
                  %option{value:"12"} 12
                %i.form-signup__month__icon.fas.fa-chevron-down
              %span.form-signup__str 月
              %br
              .form-signup__year
                %select.form-signup__month__select
                  %option{value:"19"} 19
                  %option{value:"20"} 20
                  %option{value:"21"} 21
                  %option{value:"22"} 22
                  %option{value:"23"} 23
                  %option{value:"24"} 24
                  %option{value:"25"} 25
                  %option{value:"26"} 26
                  %option{value:"27"} 27
                  %option{value:"28"} 28
                  %option{value:"29"} 29
                %i.form-signup__month__icon.fas.fa-chevron-down
              %span.form-signup__str 年
            .form-security
              %label.form-security__expire セキュリティコード
              %span.form-security__require 必須
              %input.form-security__input{placeholder:"カード背面４桁もしくは３桁の番号"}
              %ul.form-security__error-message
              .form-security__info 
                %span.form-security__info__question ?
                カード裏面の番号とは？
            %input.user_id{type:"hidden"}
            %input.encrypted_card_data{type:"hidden"}
            %p.has-error-text
            %input{type:"hidden",value_name:"after_save_callback"}
            .form-btn{type:"button",id:"submit_btn"}
              次へ進む
    
      



  %footer.single-footer
    %nav
      %ul.single-footer__menu
        %li.single-footer__menu__content
          = link_to class: 'privasy' do
            プライバシーポリシー
        %li.single-footer__menu__content
          = link_to class: 'terms' do
            メルカリ利用規約
        %li.single-footer__menu__content
          = link_to class: 'transaction' do
            特定商取引に関する表記
    = link_to class: 'single-footer-logo' do
      %img.footer-logo{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2855175014"}/
    %p.footer-century
      %small © 2019 Mercari