.single-container
  .single-header
    %h1.single-header__logo
      = link_to do
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313", alt: "mercari", class: "mercari-logo"
  .login-panel
    .login-no-account
      %p アカウントをお持ちでない方はこちら
      .sign-up
        =link_to "", class: "sign-up-btn" do
          新規会員登録 
    .single-main__container__inner__content   
      =link_to "", class: "contents__btn contents__btn__facebook" do
        %i.fab.fa-facebook-square
        Facebookでログイン
      =link_to "", class: "contents__btn contents__btn__google" do
        =image_tag "https://i.gyazo.com/52d0a24f7c45cfa2f57c0328001c4204.png", class: "contents__btn__google__logo"
        Googleでログイン
        
    .login-form-inner
      .form-group
        %input.login-input-text.input-default{name: "email", placeholder: "    メールアドレス", type: "email", value: ""}/
      .form-group
        %input.login-input-text.input-default{name: "password", placeholder: "    パスワード", type: "password"}/
      .form-group
        .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
          %div{style: "width: 304px; height: 78px;"}
            %div
              %iframe{frameborder: "0", height: "78", name: "a-5xpuchn2843w", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1559543665173&size=normal&cb=g7nqsn8kokmd", width: "304"}
            %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
      =link_to "", class: "login" do
        ログイン
      =link_to "", class: "password-forget" do
        パスワードをお忘れの方
        
  %footer.single-footer
    %nav
      %ul.single-footer__menu
        %li.single-footer__menu__content
          = link_to "", class: 'privasy' do
            プライバシーポリシー
        %li.single-footer__menu__content
          = link_to "", class: 'terms' do
            メルカリ利用規約
        %li.single-footer__menu__content
          = link_to "", class: 'transaction' do
            特定商取引に関する表記
    = link_to "", class: 'single-footer-logo' do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2855175014", alt: "mercari", class: "footer-logo"
    %p.footer-century
      %small © 2019 Mercari