.wrapper-wallets
  = render partial:"shared/header"
  = render partial:"shared/bread_crumbs"
  .container
    .content-side-bar
      = render partial:"shared/side_bar"
    .content
      .content__chapter1
        %h2.content__chapter1__head 
          クレジットカード情報入力
        = form_with url: pay_wallets_path, method: :post, id: 'charge-form', class: 'card-form', html: { name: "inputForm" } do |f|
          .card-form__input
          .card-form__box
            .form-number
              %label.form-number__payment カード番号
              %span.form-number__require 必須
              = f.text_field :card_number, type: 'text', class: 'form-number__input', placeholder: '半角数字のみ', maxlength: "16"
              %ul.form-number__error-text
              %ul.form-number__card-list
                %li.form-number__card-list__visa
                  = image_tag"visa.png",class:"form-number__card-list__visa"
                %li.form-number__card-list__master
                  = image_tag"master.png",class:"form-number__card-list__master"
                %li.form-number__card-list__saison
                  = image_tag"seison.png",class:"form-number__card-list__saison"
                %li.form-number__card-list__jcb
                  = image_tag"jcb.png",class:"form-number__card-list__jcb"
                %li.form-number__card-list__american
                  = image_tag"american.png",class:"form-number__card-list__american"
                %li.form-number__card-list__dainers
                  = image_tag"diners.png",class:"form-number__card-list__dainers"
                %li.form-number__card-list__discover
                  = image_tag"discover.png",class:"form-number__card-list__discover"
            .form-signup
              = f.label :有効期限, class: 'form-signup__expire'
              %span.form-signup__require 必須
              %br
              .form-signup__month
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'form-signup__month__select'
                %i.form-signup__month__icon.fas.fa-chevron-down
              %span.form-signup__str 月
              %br
              .form-signup__year
                = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'form-signup__month__select'
                %i.form-signup__month__icon.fas.fa-chevron-down
              %span.form-signup__str 年
            .form-security
              = f.label :セキュリティコード, class: 'form-security__expire'
              %span.form-security__require 必須
              = f.text_field :cvc, type: 'text', class: 'form-security__input', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
              %ul.form-security__error-message
              .form-security__info 
                %span.form-security__info__question ?
                カード裏面の番号とは？
            .btn-default#card_token    
              = f.submit '追加する', class: 'form-btn', id: 'token_submit'    
