.single-container
  .single-header
    %h1.single-header__logo
      = link_to do
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313", alt: "mercari", class: "mercari-logo"
  %main.single-main
    %section.single-main__container
      .single-main__container__top
        .single-main__container__top__red 発送をお待ち下さい
        .single-main__container__top__black 出品者からの発送通知をお待ち下さい
      %h2.single-main__container__header 購入完了しました
      .single-main__container__inner
        .section-buy
          .section-buy__main
            .section-buy__main__content-item
              .section-buy__main__content-item__photo
                = image_tag @item.image.url, size: "128x128", alt: "商品写真", class: "item-photo"
              .item__name
                = @item.name
      .price-fee-box
        .price-fee-box__price
          =converting_to_mark(@item.price)
          .price-fee-box__shipping-fee
            送料込み

          
  %footer.single-footer
    %nav
      %ul.single-footer__menu
        %li.single-footer__menu__content
          = link_to "", class: 'single-footer__menu__content__portion' do
            プライバシーポリシー
        %li.single-footer__menu__content
          = link_to "", class: 'single-footer__menu__content__portion' do
            メルカリ利用規約
        %li.single-footer__menu__content
          = link_to "", class: 'single-footer__menu__content__portion' do
            特定商取引に関する表記
      = link_to class: 'single-footer-logo' do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2855175014", alt: "mercari", class: "footer-logo"
      %p.footer-century
        %small © 2019 Mercar