.wrapper
  = render partial:"shared/header"
  .main
    .carousel
      .carousel__image{id:'carousel'}
        = image_tag "banner.jpg"
        = image_tag "for_carousel.png"
    .pickup
      %h2.pickup__heading ピックアップカテゴリー
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  レディース新着アイテム
        - @ladies.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  メンズ新着アイテム
        - @mens.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  ベビー・キッズ新着アイテム
        - @babies.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  コスメ・香水・美容 新着アイテム
        - @cosmes.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
    .pickup
      %h2.pickup__heading ピックアップブランド
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  シャネル新着アイテム
        - @chanels.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  ルイヴィトン 新着アイテム
        - @louis.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  シュプリーム 新着アイテム
        - @supremes.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  ナイキ 新着アイテム
        - @nikes.each do |item|
          = render partial:"shared/item_index",locals: {item: item}
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
  = render partial:"shared/aside"
  = render partial:"shared/footer"
  