.wrapper
  = render partial:"shared/header"
  .main
    .carousel
      .carousel__image
      -# = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?582218381", size: "390x1000", alt: "カルーセル（仮）", class: "carousel__image"
    .pickup
      %h2.pickup__heading ピックアップカテゴリー
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  レディース新着アイテム
        .pickup__item__box
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax （税込）
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax （税込）
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax （税込）
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax（税込）
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る
      .pickup__item
        %h3.pickup__item__category
          =link_to "#" do
            .pickup__item__category__title  メンズ新着アイテム
        .pickup__item__box
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax（税込）
          .pickup__item__box__content
            =link_to "#" do
              .pickup__item__box__content__link
                .pickup__item__box__content__link__figure
                  = image_tag "item-t_shirt.jpg", size: "213x220", alt: "商品（仮）", class: "pickup__item__box__content__link__figure__image"
                .pickup__item__box__content__link__body
                  %h3.pickup__item__box__content__link__body__name Tシャツ
                  .pickup__item__box__content__link__body__num
                    .pickup__item__box__content__link__body__num__price￥5,000
                  %p.pickup__item__box__content__link__body__tax (税込)
        .pickup__item__all
          =link_to "#" do
            %p.pickup__item__all__link 全ての商品を見る

  .aside
    .aside__banner
      .aside__banner__left
        %h2.aside__banner__left__title スマホでかんたんフリマアプリ
        %p.aside__banner__left__Advertising 今すぐ無料ダウンロード
        .aside__banner__left__icon
          .aside__banner__left__icon__image
            -# =image_tag "mercari_icon.png",size:"68x68"
          %ul.aside__banner__left__icon__link
            %li.aside__banner__left__icon__link__app
              =link_to "#" do
                -# =image_tag "app-icon.png",size:"133×40"
            %li.aside__banner__left__icon__link__google
              =link_to "#" do
                -# =image_tag "google-icon.png",size:"133×40"
      .aside__banner__right
        .aside__banner__right__image
          -# =image_tag "download_content_pc.png", class:"aside__banner__right__image"
  .footer
    .footer__content
      .footer__content__box
        %h2.footer__content__box__heading メルカリについて
        %ul.footer__content__box__mass
          =link_to "#" do
            %li.footer__content__box__mass__list 会社概要（運営会社）
            %li.footer__content__box__mass__list 採用情報
            %li.footer__content__box__mass__list プレリリース
            %li.footer__content__box__mass__list 公式ブログ
            %li.footer__content__box__mass__list メルカリロゴ利用ガイドライン
          %i.footer__content__box__mass__icon.fab.fa-twitter
          %i.footer__content__box__mass__icon.fab.fa-facebook-square
      .footer__content__box
        %h2.footer__content__box__heading ヘルプ＆ガイド
        %ul.footer__content__box__mass
          =link_to "#" do
            %li.footer__content__box__mass__list メルカリガイド
            %li.footer__content__box__mass__list らくらくメルカリ便
            %li.footer__content__box__mass__list ゆうゆうメリカリ便
            %li.footer__content__box__mass__list 大型メルカリ便
            %li.footer__content__box__mass__list 車体取引ガイド
            %li.footer__content__box__mass__list メルカリあんしん・あんぜん宣言！
            %li.footer__content__box__mass__list 偽ブランド品撲滅への取り組み
            %li.footer__content__box__mass__list メルカリボックス
      .footer__content__box
        %h2.footer__content__box__heading プライバシーと利用規約
        %ul.footer__content__box__mass
          =link_to "#" do
            .footer__content__box__mass__left
              %li.footer__content__box__mass__left__list プライバシーポリシー
              %li.footer__content__box__mass__left__list メルカリ利用規約
              %li.footer__content__box__mass__left__list 
                あんしんスマホサポート制度に
                %br
                関する利用特約
              %li.footer__content__box__mass__left__list コンプライアンスポリシー
            .footer__content__box__mass__right
              %li.footer__content__box__mass__right__list 個人データの安全管理に係る基本方針
              %li.footer__content__box__mass__right__list 特定商取引に関する表記
              %li.footer__content__box__mass__right__list 資金決済法に基づく表示
              %li.footer__content__box__mass__right__list 法令遵守と犯罪抑止のために
              %li.footer__content__box__mass__right__list 返品・返金ポリシー
      .footer__content__box
        %h2.footer__content__box__heading 国
        %ul.footer__content__box__mass
          =link_to "#" do
            %li.footer__content__box__mass__list 日本
            %li.footer__content__box__mass__list United State
      .footer__content__bottom
        .footer__content__bottom__icon
        -# = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4069491723", size: "124x33", alt: "メルカリアイコン", class: "footer__content__bottom__icon"
        %span.footer__content__bottom__copy-right
          %small © 2019 Mercari
  =link_to sell_path, class:'sell-btn', method: :get do
    .sell-btn__text 出品
    %i.sell-btn__icon.fas.fa-camera
    