.single--container
  %header.single--header
    %h1.single--header__h1
      =link_to "#", class: 'single--header__h1__a' do
        %img.single--header__h1__a__img
  %main.single--main
    %section.l--single--container
      #sell--container
        %div
          .sell--container--inner
            %h2.l--single--head
              商品の情報を入力
            = form_for @item do |f|
              - if @item.errors.any?
                .error_form
                  %h2= "#{@item.errors.full_messages.count}件のエラーが発生しました。"
                  %ul
                    - @item.errors.full_messages.each do |message|
                      %li= message
            = form_with model:@item, class:"sell--form",local: true do |f|
              =f.hidden_field :sales_status,{value:"出品中"}
              .sell--upload--box
                %h3.sell--upload--box__head
                  出品画像
                  %span.form--require 必須
                %p.sell--upload--box__p 最大10枚までアップロードできます
                .sell--dropbox--container
                  .sell--dropbox--container__items
                    .sell--dropbox--container__items__upload
                      %ul.sell--dropbox--container__items__upload__ul
                    %label
                      .sell--upload--drop--box
                        = f.file_field :image,{class: 'hidden sell--upload--drop--box'}
                        .sell--upload--drop--box2
                          %pre.visible--pc
                            ドラッグアンドドロップ
                            またはクリックしてファイルをアップロード
              .sell--content1
                .sell--content1__form1
                  %label.sell--content1__form1__label
                    商品名
                    %span.form--require 必須
                  %div
                    = f.text_field :name, class:"input--default",placeholder: "商品名（必須 40文字まで)"
                .sell--content1__form2
                  %label.sell--content1__form2__label
                    商品の説明
                    %span.form--require 必須
                  =f.text_area :description,class:"textarea--default",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              .sell--content2
                %h3.sell--content2__head 商品の詳細
                .sell--content2__form1
                  .sell--content2__form1__group1
                    %label.sell--content2__form1__group1__label
                      カテゴリー
                      %span.form--require 必須
                    %div
                      .select--wrap-cat1
                        = f.select :category_l,Item.category_ls.keys, {}, {class:"select--wrap-cat1__default-category1"}
                        %i.fas.fa-angle-down
                      .select--wrap-cat2
                        %select.select--wrap-cat2__default-category2
                          %option{value: 0} ---
                          %option{value: 1} トップス
                          %option{value: 2} ジャケット/アウター
                          %option{value: 3} パンツ
                          %option{value: 4} スカート
                          %option{value: 5} ワンピース
                          %option{value: 1328} 靴
                          %option{value: 6} ルームウェア/パジャマ
                          %option{value: 7} レッグウェア
                          %option{value: 8} 帽子
                          %option{value: 9}バッグ
                          %option{value: 1027} アクセサリー
                          %option{value: 1318} ヘアアクセサリー
                          %option{value: 10} その他
                        %i.fas.fa-angle-down
                      .select--wrap-cat3
                        %select.select--wrap-cat3__default-category3
                          %option{value: "0"} ---
                          %option{value: "1"} Tシャツ
                          %option{value: "2"} シャツ
                          %option{value: "3"} ポロシャツ
                          %option{value: "4"} キャミソール
                          %option{value: "5"} タンクトップ
                          %option{value: "1328"} ホルターネック
                          %option{value: "6"} ニット/セーター
                          %option{value: "7"} チュニック
                          %option{value: "8"} カーディガン
                          %option{value: "9"} アンサンブル
                          %option{value: "1027"} ベスト
                          %option{value: "1318"} パーカー
                          %option{value: "10"} その他
                        %i.fas.fa-angle-down
                    %label.sell--content2__form1__group1__label-size
                      サイズ
                      %span.form--require-size 必須
                    %div
                      .select--wrap-cat3
                        = f.select :size,[['---',""], ['XXS以下', 'XXS以下'], ['XS', 'XS'],['S', 'S'],['M', 'M'],['L', 'L'],['XL', 'XL'],['2XL', '2XL'],['3XL', '3XL'],['4XL', '4XL'],['FREE', 'FREE']], {}, {class:"select--wrap-cat3__default-category3"}
                        %i.fas.fa-angle-down
                      %label.sell--content2__form1__group1__label-brand
                        ブランド
                        %span.form--require1 任意
                      %div
                        .select--wrap-cat3
                          =f.text_field :brand,{class:"input--default select--wrap-cat3__default-category3",placeholder: "例）シャネル"}
                  .sell--content2__form2__group2
                    %label.sell--content2__form2__group2__label
                      商品の状態
                      %span.form--require 必須
                    .select--wrap
                      = f.select :status,Item.statuses.keys, {}, {class:"select--wrap__default"}
                      %i.fas.fa-angle-down
              .sell--content3
                %h3.sell--content3__head 配送について
                =link_to "#", class: 'form--question' do
                  ?
                .sell--content3__form1
                  .sell--content3__form1__group1
                    %label.sell--content3__form1__group1__label
                      配送料の負担
                      %span.form--require 必須
                    .select--wrap
                      = f.select :delivery_charge,[['---',""], ['送料込み（出品者負担）', '送料込み（出品者負担）'], ['着払い（購入者負担）', '着払い（購入者負担）']], {}, {class:"select--wrap__default"}
                      %i.fas.fa-angle-down
                  .sell--content3__form1__group2
                    %label.sell--content3__form1__group2__label
                      発送元の地域
                      %span.form--require 必須
                    .select--wrap
                      = f.select :prefecture,Item.prefectures.keys,{},{class:"select--wrap__default select--wrap-cat3__default-category3"}
                      %i.fas.fa-angle-down
                  .sell--content3__form1__group3
                    %label.sell--content3__form1__group3__label
                      発送までの日数
                      %span.form--require 必須
                    .select--wrap
                      = f.select :delivery_days,[['---',""], ['1~2日で発送', '1~2日で発送'], ['2〜3日で発送', '2〜3日で発送'],['4〜7日で発送', '4〜7日で発送']], {}, {class:"select--wrap__default"}
                      %i.fas.fa-angle-down
              .sell--content4
                %h3.sell--content4__head 販売価格(300〜9,999,999)
                =link_to "#", class: 'form--question' do
                  ?
                .sell--content4__form1
                  %ul.sell--content4__form1__ul
                    %li.sell--content4__form1__ul__group
                      .clearfix
                        %label.l--left__price
                          価格
                          %span.form--require 必須
                        .l--right__price
                          ¥
                          %div.input--price
                            =f.text_field :price,class:"input--price__default",placeholder: "例）300"
                    %li.cl1
                      .l--left__fee
                        販売手数料 (10%)
                      .l--right_fee
                    %li.cl2
                      .l--left__gain
                        販売利益
                      .l--right__gain
              .modal{role: "dialog", tabindex: "--1"}
                .modal--inner
              .sell--content5
                %div
                  %p.sell--content5__p
                  =link_to "#", class: 'sell--content5__p__a' do
                    禁止されている出品
                  、
                  =link_to "#", class: 'sell--content5__p__a' do
                    行為
                  を必ずご確認ください。
                  %p.sell--content5__p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "#", class: 'sell--content5__p__a' do
                      偽ブランドの販売
                    は犯罪であり処罰される可能性があります。
                  %p.sell--content5__p
                    また、出品をもちまして
                    =link_to "#", class: 'sell--content5__p__a' do
                      加盟店規約
                    に同意したことになります。
                  .actions
                    =f.submit "出品する",class:"btn--red"
                %a.btn--gray もどる
  %footer.single--footer
    %nav.single--footer__nav
      %ul.single--footer__nav__ul
        %li.single--footer__nav__ul__li1
          =link_to "#", class: '.single--footer__nav__ul__li1__a1' do
            プライバシーポリシー
        %li.single--footer__nav__ul__li2
          =link_to "#", class: '.single--footer__nav__ul__li2__a2' do
            メルカリ利用規約
        %li.single--footer__nav__ul__li3
          =link_to "#", class: '.single--footer__nav__ul__li3__a3' do
            特定商取引に関する表記
    =link_to "#", class: '.single--footer--logo' do
      %div.single--footer--logo__img
    %p
      %small © 2019 Mercari