.single--container
  %header.single--header
    %h1.single--header__h1
      =link_to "#", class: 'single--header__h1__a' do
        %img.single--header__h1__a__img
  %main.single--main
    %section.l--single--container
      #sell--container
        %div
          .sell--container--inner
            %h2.l--single--head 商品の情報を入力
            -# %form.sell--form
            = form_with model:@item, class:"sell--form",local: true do |f|
              .sell--upload--box
                %h3.sell--upload--box__head
                  出品画像
                  %span.form--require 必須
                %p.sell--upload--box__p 最大10枚までアップロードできます
                .sell--dropbox--container
                  .sell--dropbox--container__items
                    .sell--dropbox--container__items__upload
                      %ul.sell--dropbox--container__items__upload__ul
                  = f.fields_for :images do |image|
                    %label
                      = image.file_field :text,{class: 'hidden sell--upload--drop--box'}
                      .sell--upload--drop--box
                        .sell--upload--drop--box2
                          %pre.visible--pc
                            ドラッグアンドドロップ
                            またはクリックしてファイルをアップロード
                      
              .sell--content1
                .sell--content1__form1
                  %label.sell--content1__form1__label
                    商品名
                    %span.form--require 必須
                  %div
                    = f.text_field :name, class:"input--default",placeholder: "商品名（必須 40文字まで)"
                    -# %input.input--default{placeholder: "商品名（必須 40文字まで)", value: ""}/
                .sell--content1__form2
                  %label.sell--content1__form2__label
                    商品の説明
                    %span.form--require 必須
                  =f.text_area :description,class:"textarea--default",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                  -# %textarea.textarea--default{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
              .sell--content2
                %h3.sell--content2__head 商品の詳細
                .sell--content2__form1
                  .sell--content2__form1__group1
                    %label.sell--content2__form1__group1__label
                      カテゴリー
                      %span.form--require 必須
                    %div
                      .select--wrap
                        %select.select--wrap__default
                          %option{value: "0"} ---
                          %option{value: "1"} レディース
                          %option{value: "2"} メンズ
                          %option{value: "3"} ベビー・キッズ
                          %option{value: "4"} インテリア・住まい・小物
                          %option{value: "5"} 本・音楽・ゲーム
                          %option{value: "1328"} おもちゃ・ホビー・グッズ
                          %option{value: "6"} コスメ・香水・美容
                          %option{value: "7"} 家電・スマホ・カメラ
                          %option{value: "8"} スポーツ・レジャー
                          %option{value: "9"} ハンドメイド
                          %option{value: "1027"} チケット
                          %option{value: "1318"} 自動車・オートバイ
                          %option{value: "10"} その他
                        %i.fas.fa-angle-down
                  .sell--content2__form2__group2
                    %label.sell--content2__form2__group2__label
                      商品の状態
                      %span.form--require 必須
                    .select--wrap
                      = f.select :status,[["---", "exhibition"], ["新品","trading"], ["未使用に近い", "sold"],["目立った傷や汚れなし",3]], {}, {class:"select--wrap__default"}
                      -# %select.select--wrap__default
                      -#   %option{value: ""} ---
                      -#   %option{value: "1"} 新品、未使用
                      -#   %option{value: "2"} 未使用に近い
                      -#   %option{value: "3"} 目立った傷や汚れなし
                      -#   %option{value: "4"} やや傷や汚れあり
                      -#   %option{value: "5"} 傷や汚れあり
                      -#   %option{value: "6"} 全体的に状態が悪い
                      %i.fas.fa-angle-down
              .sell--content3
                %h3.sell--content3__head 配送について
                =link_to "#", class: 'form--question' do
                  ?
                .sell--content3__form1
                  .sell--content3__form1__group1
                    %label.sell--content3__form1__group1__label
                      配送料の負担
                      %span.form--require 必須
                    .select--wrap
                      %select.select--wrap__default
                        %option{value: ""} ---
                        %option{value: "2"} 送料込み(出品者負担)
                        %option{value: "1"} 着払い(購入者負担)
                      %i.fas.fa-angle-down
                  .sell--content3__form1__group2
                    %label.sell--content3__form1__group2__label
                      発送元の地域
                      %span.form--require 必須
                    .select--wrap
                      %select.select--wrap__default
                        %option{value: ""} ---
                        = Prefecture.all.each do |pre|
                          %option{value: "#{pre.id}"} 
                            = pre.name
                      %i.fas.fa-angle-down
                  .sell--content3__form1__group3
                    %label.sell--content3__form1__group3__label
                      発送までの日数
                      %span.form--require 必須
                    .select--wrap
                      %select.select--wrap__default
                        %option{value: ""} ---
                        %option{value: "1"} 1~2日で発送
                        %option{value: "2"} 2~3日で発送
                        %option{value: "3"} 4~7日で発送
                      %i.fas.fa-angle-down
              .sell--content4
                %h3.sell--content4__head 販売価格(300〜9,999,999)
                =link_to "#", class: 'form--question' do
                  ?
                .sell--content4__form1
                  %ul.sell--content4__form1__ul
                    %li.sell--content4__form1__ul__group
                      .clearfix
                        %label.l--left__price
                          価格
                          %span.form--require 必須
                        .l--right__price
                          ¥
                          %div.input--price
                            =f.text_field :price,class:"input--price__default",placeholder: "例）300"
                            -# %input.input--price__default{placeholder: "例）300", value: ""}/
                    %li.cl1
                      .l--left__fee
                        販売手数料 (10%)
                      .l--right_fee
                        (仮)100
                    %li.cl2
                      .l--left__gain
                        販売利益
                      .l--right__gain
                        (仮)10
              .modal{role: "dialog", tabindex: "--1"}
                .modal--inner
              .sell--content5
                %div
                  %p.sell--content5__p
                  =link_to "#", class: 'sell--content5__p__a' do
                    禁止されている出品
                  、
                  =link_to "#", class: 'sell--content5__p__a' do
                    行為
                  を必ずご確認ください。
                  %p.sell--content5__p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "#", class: 'sell--content5__p__a' do
                      偽ブランドの販売
                    は犯罪であり処罰される可能性があります。
                  %p.sell--content5__p
                    また、出品をもちまして
                    =link_to "#", class: 'sell--content5__p__a' do
                      加盟店規約
                    に同意したことになります。
                  .actions
                    =f.submit "出品する",class:"btn--red"
                %a.btn--gray もどる
  %footer.single--footer
    %nav.single--footer__nav
      %ul.single--footer__nav__ul
        %li.single--footer__nav__ul__li1
          =link_to "#", class: '.single--footer__nav__ul__li1__a1' do
            プライバシーポリシー
        %li.single--footer__nav__ul__li2
          =link_to "#", class: '.single--footer__nav__ul__li2__a2' do
            メルカリ利用規約
        %li.single--footer__nav__ul__li3
          =link_to "#", class: '.single--footer__nav__ul__li3__a3' do
            特定商取引に関する表記
    =link_to "#", class: '.single--footer--logo' do
      %div.single--footer--logo__img
    %p
      %small © 2019 Mercari
                          