= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .field-label
      = f.label "電話番号"
    .field-input
      = f.text_field :tel, autofocus: true
  .actions
    = f.submit "Sign up"
= render "users/shared/links"